body{
    background-color: white;
    margin: 0;
}
.backpic{
    height: 400px;
    background-image: url(chennaibeach.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
}

.text{
    color: white;
    text-align: center;
}

.pics{
    gap: 100px;
    padding: 50px;
    justify-content: center;
    display: flex;
}

.pic{
    background-color: white;
    width: 300px;
    text-align: center;
}

.pic img{
    height: 150px;
    width: 300px;   

}

.pic button{
    background-color: black;
    text-align: center;
    color: orange;
}

.pic p{
    font-size: 15px;
}