* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #f6efe6;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.hero {
    background-color: #666;
    background-image: url("green\ forest.jpeg");
    background-size: cover;
    background-position: center;
    padding: 100px 40px;
    color: white;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 20px;
}

.hero button {
    padding: 12px 20px;
    background-color: #d9733b;
    border: none;
    color: white;
    cursor: pointer;
}

.about {
    display: flex;
    padding: 60px 40px;
    gap: 40px;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    margin-bottom: 15px;
}

.about-text p {
    margin-bottom: 20px;
}

.secondary-btn {
    padding: 10px 18px;
    border: 1px solid #333;
    background: none;
    cursor: pointer;
}

.about-image {
    flex: 1;
}

.image-box {
    background-image: url(forest.avif);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.testimonial {
    background-color: #c65d2e;
    color: white;
    text-align: center;
    padding: 50px 30px;
}

.testimonial p {
    max-width: 800px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 18px;
}

.testimonial span {
    font-size: 14px;
}